/* UTILITY */

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .debug{              /*  Da Eliminare */
    border: 1px solid black;
    min-height: 100px;
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    .grey{
        max-width: 100%;
        background-color: #f6f6f6;
    }
    body{
        font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
        background-color: white;
    }

/*  PALETTE COLORI

    --brand: #5865f2;
    --brand-gradient: linear-gradient(90deg,#8ea1e1,#7289da);
    --greyple: #99aab5;
    --dark-not-black: #2c2f33;
    --focus-border: #00b0f4;
    --status-green: #43b581;
    --text-link: #00b0f4;
    --off-white: #f6f6f6;
    --white: #fff;
    --not-quite-black: #23272a;
    --not-quite-black-rgb: 35,39,42;
    --black: #000;
    --ekko-red: #de2761;
    --page-max-width: 1260px;
    --page-max-width-med: 1024px;
    --num-grid-columns: 4;
    --page-gutter: 24px;
    --section-spacing: 56px; */


/* HERO SECTION + HEADER*/

    

/* HEADER SECTION */

header{
    background-color: #255ee9;
}
footer{
    width: 100%;
    min-height: 100px;
    background-color: #2c2f33;
}
.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header nav.container{
    padding: 10px 0;
}
header nav ul {
    min-width: 500px;
}
nav li, a {
    list-style: none;
    color: white;
    font-weight: 400;        
    text-decoration: none;    
}

/* HOVER DEL MENU' */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    }
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:white;
    transform-origin: center;
    transition: transform 0.25s ease-out;
 }    
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}

/* HERO SECTION */

.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 620px;    
}
.inner-hero{
    color: white;
    text-align: center;
    max-width: 700px;

}    
fa-solid{
    color: #23272a;
}
h1{
    font-size: 56px;
    margin-bottom: 40px;
}
.inner-hero p{
    font-size: 18px;
    line-height: 24px;
}
a{
    vertical-align: baseline;
}

/* BUTTON */

.btn{
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.btnSmall{
    display: block;
    background-color: white;
    color: #23272a;
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;        
    text-decoration: none;
}
.btnLarge{
    display: inline-flex;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 24px;
}
.btnDark{
    background-color: #23272a;
    color: white;

}
.btnWhite{        
    background-color: white;
    color: #23272a;

}
.btnPurple{
    background-color: #7983F5;
    color: white;
    margin-top: 0px;
    margin-bottom: 120px;
}

/* MAIN SECTION */

.flexbox-content{
    margin: 160px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.flexbox-content img{
    max-width: 590px;
    max-height: 396px;
}
.text-right{
    max-width: 340px;   
    color: #23272a;
    font-weight: bold;
}
.text-right h2{    
    font-size: 44px;
    margin-block-start: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.text-right p{
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.625;
}
.text-left{
    max-width: 340px;   
    color: #23272a;
    font-weight: bold;
}
.text-left h2{    
    font-size: 44px;
    margin-block-start: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.text-left p{
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.625;
}
.reverse{
    flex-direction: row-reverse;
}
.flexbox-center{
    display: flex;
    flex-direction: column;
}
.text-center{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #23272a;
}
.text-center h2{
    font-size: 46px;
    padding-bottom: 20px;
}
.text-center p{
    font-size: 20px;
}
#star{
    width: 400px;
}
h3{
    font-size: 25px;
    padding-bottom: 50px;    
}
.text-center a{
    margin-bottom: 100px;
}





/* FOOTER SECTION */
ul{
    list-style: none;
}
hr{
    width: 80%;
    margin: 20px auto;   
    border: 1px solid #7983F5 ;
    background-color: #7983F5;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0px;
}
footer li img{
    width: 20px;
}
footer li{
    color: white;
    padding: 5px 0;
}
footer li h4{
    color: #7983F5;
}
footer li h3{
    color: #7983F5;
    padding-bottom: 10px;
}