/* UTILITY */

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .clearfix::after{
        content: ;
        display: table;
        clear: both;
    }
    .debug{              /*  Da Eliminare */
    border: 1px solid black;
    min-height: 100px;
    }
    .container{
        max-width: var(--page-max-width);
        margin: 0 auto;
        padding-top: var(--section-spacing);
    }    
    .grey{
        max-width: 100%;
        background-color: var(--off-white);
    }
    html{
        font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
        background-color: var(--white);
    }

/*  PALETTE COLORI  */

   :root{ 
    --brand: #255ee9;
    --brand-gradient: linear-gradient(90deg,#8ea1e1,#7289da);
    --greyple: #99aab5;
    --dark-not-black: #2c2f33;
    --focus-border: #00b0f4;
    --status-green: #43b581;
    --text-link: #7983F5;
    --off-white: #f6f6f6;
    --white: #fff;
    --not-quite-black: #23272a;
    --not-quite-black-rgb: 35,39,42;
    --black: #000;
    --ekko-red: #de2761;
    
    --page-max-width: 1260px;
    --page-max-width-med: 1024px;
    --num-grid-columns: 4;
    --page-gutter: 24px;
    --header-spacing: 56px;
    --section-spacing: 120px;
   }


/* HERO SECTION + HEADER*/

    

/* HEADER SECTION */

header{
    background-color: var(--brand);    
    font-weight: bold;    
}
footer{
    width: 100%;
    min-height: 100px;
    background-color: var(--dark-not-black);
}
.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header nav.container{
    padding: 10px 0;
}
header nav ul {
    min-width: 500px;
}
nav li, a {
    list-style: none;
    color: var(--white);    
    text-decoration: none;    
}

/* HOVER MENu' */

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform-origin: center;
    transition: transform 0.25s ease-out;
 }    
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}

/* HOVER BUTTON */



/* HERO SECTION */

.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 620px;    
}
.inner-hero{
    color: var(--white);
    text-align: center;
    max-width: 780px;
    padding-top: var(--header-spacing);
    padding-bottom: var(--header-spacing);
} 
fa-solid{
    color: var(--dark-not-black);
}
h1{
    font-size: 56px;
    margin-bottom: 40px;
}
.inner-hero p{
    font-size: 19px;
    line-height: 32px;
}
a{
    vertical-align: baseline;
}

/* BUTTON */

.btn{
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 24px;
}
.btnSmall{
    display: block;
    background-color: var(--white);
    color: var(--dark-not-black);
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;        
    text-decoration: none;
}
.btnLarge{
    display: inline-flex;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}
.btnDark{
    background-color: var(--dark-not-black);
    color: var(--white);

}
.btnWhite{        
    background-color: var(--white);
    color: var(--dark-not-black);

}
.btnPurple{
    background-color: var(--text-link);
    color: var(--white);
    margin-top: 0px;
    margin-bottom: 120px;
}

/* MAIN SECTION */

.flexbox-content{
    margin-bottom: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.flexbox-content img{
    max-width: 590px;
    max-height: 396px;
}
.text-right{
    max-width: 340px;   
    color: var(--dark-not-black);
    font-weight: bold;
}
.text-right h2{    
    font-size: 44px;
    margin-block-start: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.text-right p{
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.625;
}
.text-left{
    max-width: 340px;   
    color: var(--dark-not-black);
    font-weight: bold;
}
.text-left h2{    
    font-size: 44px;
    margin-block-start: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.text-left p{
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.625;
}
.reverse{
    flex-direction: row-reverse;
    margin-bottom: 0px;
    padding-bottom: 100px;
}
.flexbox-center{
    display: flex;
    flex-direction: column;
}
.text-center{
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    color: var(--dark-not-black);
}
.text-center h2{
    font-size: 46px;
    padding-bottom: 20px;
}
.text-center p{
    font-size: 20px;
}

.text-center a{
    margin-bottom: 100px;
}
#star{
    width: 400px;
}
h3{
    font-size: 25px;
    padding-bottom: 50px;    
}
.wave{
    color: var(--off-white);

}
.trasform{
    transform: rotate(180deg);
}
svg{
    display: block;
}



/* FOOTER SECTION */
ul{
    list-style: none;
}
hr{
    margin: 20px auto;   
    border: 1px solid var(--text-link) ;
    background-color: var(--text-link);
}
.footer-container{
    max-width: var(--page-max-width);
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding-top: 50px;
}
.footer-flex{
    padding-top: 0px;
}
footer li img{
    width: 20px;
}
footer li{
    color: white;
    padding: 5px 0;
}
footer li h4{
    color: var(--text-link);
}
footer li h3{
    color: var(--text-link);
    padding-bottom: 10px;
}